[submodule "www-site/git_modules/zjwgi"]
	path = www-site/git_modules/zjwgi
	url = https://gitlab.com/zwartell/zjw-generic-instructions.git
	branch = version2
[submodule "git-modules/zjw-generic-instructions.git"]
	path = git-modules/zjw-generic-instructions.git
	url = https://gitlab.com/zwartell/zjw-generic-instructions.git
	branch = version3
[submodule "git-modules/zxw-git-modules.git"]
	path = git-modules/zxw-git-modules.git
	url = https://gitlab.com/zachary-wartell-public/zxw-git-modules.git
	branch = main
