# www-config file (used by zjwp/zjwp-www-publish) for git@github.com:ZacharyWartell/vs-code-tutorial-specs.git project
ftphost=webpages.uncc.edu
ftpdir='public_html/Teaching/itcs-vs-code-tutorial'
ftpuser=zwartell
htmlfile='./index.html'
#WWW_REMOTE_PATH_SUFFIX=edu/itcs-3120-vs-code-tutorial
WWW_HOST=www.zacharywartell.net
RSYNC_HOST_PATH="zjayuu_gmail_com@www.zacharywartell.net:/var/www/html/$WWW_REMOTE_PATH_SUFFIX"
RSYNC_SSH_CMD="ssh -i $HOME/.ssh/ids/toybox-2025-to-zw-net -l zjayuu_gmail_com"